#news_grid_little {
    width: 1180px;
    height: 730px;
    display: none;
    grid-template-columns: 39% auto 39%;
    grid-template-rows: 100%;
    gap: 20px;
}

#news_grid_little aside {
    height: 100%!important;
    display: grid;
    grid-template-rows: 130px 430px 130px;
    gap: 20px;
}

.row_news_little {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.center_block_little {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    gap: 20px;
}

@media screen and (max-width:1550px) {
    #news_grid_little {
        display: grid;
    }
}

@media screen and (max-width: 1350px) {
    #news_grid_little {
        width: 940px;
        grid-template-columns: 1fr 1fr;
    }
    .center_block_little {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    #news_grid_little {
        width: 700px;
        grid-template-columns: 460px auto;
    }
    .center_block_little {
        display: grid;
    }

    #news_grid_little .right_block_little {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    #news_grid_little {
        width: 460px;
        height: 100%;
        display: block;
    }

    #news_grid_little aside {
        height: 600px;
        margin-bottom: 20px;
    }

    .center_block_little {
        display: none;
    }

    #news_grid_little .right_block_little {
        display: grid;
    }
}