#news_grid {
    height: 690px;
    width: 1600px;
    display: grid;
    grid-template-columns: 43.75% 10% 43.75%;
    grid-template-rows: 18.6% 55.7% 18.6%;
    gap: 20px;
}

.top_left,
.top_right,
.bottom_right,
.bottom_left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.news_item {
    width: 100%;
    height: 130px;
    display: flex;
    position: relative;
    cursor: pointer;
}

.news_item_big {
    height: 100%;
    justify-content: space-between;
}

.news_item img {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}

.news_item .text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
    color: white;
}

.news_item span {
    font-size: 12px;
    font-weight: 300;
}

.news_item h3 {
    font-size: 16px;
    font-weight: 500;
}

.news_item h4 {
    font-size: 15px;
    font-weight: 400;
}

.news_item_big .text {
    padding: 20px;
}

.news_item_big h4 {
    font-size: 24px;
    font-weight: 500;
}

.news_item_big h1 {
    font-size: 36px;
    margin: 20px 0;
}

.news_item_big span {
    font-size: 20px;
}

.medium_center {
    display: grid;
    grid-template-rows: 47% 47%;
    gap: 6%;
}

.medium_center .news_item {
    height: 100%;
}

@media screen and (max-width: 1700px) {
    #news_grid {
        width: 1420px;
        grid-template-columns: 1fr 1fr;
        
    }
    .center {
        display: none;
    }
}

@media screen and (max-width: 1550px) {
    #news_grid {
        display: none;
    }
}