.trending_tickers {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.trending_tickers .ticker {
    width: 100%;
    padding: 15px 0;
}   

.trending_tickers .ticker > span {
    color: #393939;
    font-size: 15x;
}

.trending_tickers .ticker div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.trending_tickers .ticker div p {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 1750px) {
    .ticker .regularMarketChangePercent {
        display: none;
    }
}

@media screen and (max-width: 1600px) {
    .ticker .regularMarketChangePercent {
        display: block;
    }
}

@media screen and (max-width: 1300px) {
    .ticker .regularMarketChangePercent {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .trending_tickers {
        overflow-x: auto;
        flex-direction: row;
    }

    .trending_tickers::-webkit-scrollbar {
        display: none;
    }
    .trending_tickers .ticker {
        margin: 0 20px;
    }

    .trending_tickers .ticker div {
        width: 220px;
    }
}

@media screen and (max-width: 750px) {
    .trending_tickers .ticker {
        margin: 0 10px;
    }
}