.watchlist_item {
    width: 100%;
    font-size: 16px;
}

.watchlist_item > img {
    width: 100%;
    height: 400px;
    margin: 0 0 25px 0;
}

.watchlist_item article {
    margin: 30px 0;
    line-height: 125%;
}

.watchlist_item article em {
    font-size: 18px;
    font-weight: 500;
}

.watchlist_item article p {
    margin: 10px 0;
}

.symbols-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0;
}

.symbols-grid h3 {
    font-size: 20px;
}

.symbols-grid p {
    font-size: 18px;
    font-weight: 500;
}

.symbols_headers p {
    font-size: 18px;
    font-weight: 300;
    color: rgb(50, 50, 50);
}

@media screen and (max-width:1170px) {
    .watchlist_item article,
    .watchlist_item span {
        line-height: 133%;
        font-size: 23px;
    }
}

@media screen and (max-width:860px) {
    .watchlist_item article,
    .watchlist_item span {
        font-size: 26px;
    }
}

@media screen and (max-width:720px) {
    .watchlist_item article,
    .watchlist_item span {
        margin: 0 10px;
        /*font-size: 30px;*/
    }

    .watchlist_item article em {
        font-size: 30px;
    }

    .symbols-grid {
        margin: 10px 20px;
    }
}

@media screen and (max-width: 400px) {
    .symbols-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .regularMarketVolume {
        display: none;
    }
}