.watchlist_item {
    display: flex;
    align-items: center;
}

.aside_column article {
    margin: 30px 0;
    line-height: 125%;
}

.aside_column article em {
    font-size: 18px;
    font-weight: 500;
}

.aside_column article p {
    margin: 10px 0;
    font-size: 16px;
}

.watchlist_symbols {
    overflow-y: auto;
    height: 90vh;
}

.symbols-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0;
    width: 750px; /* fix it */
}

.symbols-grid h3 {
    font-size: 20px;
}

.symbols-grid p {
    font-size: 18px;
    font-weight: 500;
}

.symbols_headers p {
    font-size: 18px;
    font-weight: 300;
    color: rgb(50, 50, 50);
}

@media screen and (max-width:1600px) {
    .aside_column_watchlist_article {
        display: none;
    }
    .page_watchlist {
        grid-template-rows: auto;
    }

    .watchlist_symbols {
        height: 85vh;
    }
}

@media screen and (max-width: 1200px) {

    .symbols-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: auto;
    }
    .regularMarketVolume {
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .watchlist_symbols {
        height: 100%;
    }

    .regularMarketVolume {
        display: initial;
    }

    .symbols-grid {
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .regularMarketVolume {
        display: none;
    }

    .symbols-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}